<nav class="nav justify-content-center" style="background-color: hotpink">
  <li class="nav-item">
    <a class="nav-link active" style="color: white;font-weight: bolder" href="/">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: white;font-weight: bolder" href="/admin">ADMIN</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: white;font-weight: bolder" href="/post/all">POSTS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: white;font-weight: bolder" href="/post/new_post">NEW POST</a>
  </li>
</nav>